/* ==========================================================================
   =Custom CSS
   ========================================================================== */
   
   /**
	 * To make updating the template easier, you should add your own css or
	 * changes to current css in this file.
     */
     
.headerlogo {
    width: 80%;
    padding-top: 14px;
}

#logo {
    margin-top: 14px;
    width: 80%;
}