/* ==========================================================================
   =Custom CSS
   ========================================================================== */
   
   /**
	 * To make updating the template easier, you should add your own css or
	 * changes to current css in this file.
     */
     

@font-face {
    font-family: Product Sans;
    src: url(../fonts/product-sans-regular.ttf);
    font-weight: 100;
    font-style: none;
    }
    
@font-face {
    font-family: Product Sans;
    src: url(../fonts/product-sans-bold.ttf);
    font-weight: 900
    }

p {
    font-weight: 100;
}

strong {
    font-weight: 900;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

@media (max-width: 990px) {
    .headerlogo {
        width: 30% !important;
        padding-top: 0px !important!;
    }
    #logo {
        margin-top: 0px !important;
        width: 30% !important;
    }
}

.headerlogo {
    width: 80%;
    padding-top: 14px;
}

#logo {
    margin-top: 14px;
    width: 80%;
}

.no-btn-mar {
    margin-bottom: 0;
}

.ewf-btn-under {
    position: relative;
    background-clip: padding-box;
    display: inline-block;
    /* padding: 8px 30px; */
    border-radius: 25px;
    /*margin-bottom: 30px;*/
    /* background-color: #ffffff; */
    color: #666666 !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    font-size: 15px;
}

.ewf-btn-under:hover {
    padding-left: 15px;
    color: #000000 !important;
}

.p-btn-bottom {
    margin-bottom: 15px;
}

.author-bio {
    padding-left: 0 !important;
}

#footer-bottom {
    background-color: #000000 !important;
}

#back-to-top {
    background-color: #ffffff;
    transition: all .3 ease-in-out;
    color: #000000;
}

#back-to-top:hover {
    background-color: #eeeeee;
    color: #000000 !important;
    margin-bottom: 5px;
}

.p-margin {
    margin-bottom: 0;
    margin-right: 0;
}

.underline {
    text-decoration: underline;
}

.hiring-bottom {
    padding-bottom: 0;
}

.ewf-btn-hiring {
    margin-top: 20px;
    margin-bottom: 0;
}

.twenty-top {
    margin-top: 30px !important;
}

.hundred-top {
    margin-top: 100px !important;
}

.hundred-bottom {
    margin-bottom: 100px !important;
}

.hundred-top {
    margin-top: 100px !important;
}

.fifty-bottom {
    margin-bottom: 50px !important;
}

.fifty-top {
    margin-top: 50px !important;
}